{% extends "layout.html.twig" %}
{% block body %}

<section>
    {% if account.id == session.get("id") or session.isAdmin() %}
    <form action="/edit-account/{{ id }}" method="post">
        <p>
            <label>Pseudo</label><br>
            <input type="text" name="nickname" value="{{ account.nickname }}"/><br/>

            {% if session.isAdmin() %}

                Type d'utilisateur :<br/>
            <input type="radio" name="users_group" value=1 {{ usersGroupMember }} id="user"/> <label
                    for=1>Membre</label><br/>
            <input type="radio" name="users_group" value=2 {{ usersGroupAdmin }} id="admin"/> <label for=2>Administrateur</label>
            <br/>

            {% endif %}

            <label>Mot de passe</label><br>
            <input type="password" name="password" value=""/><br/>

            <label>Mot de passe (confirmation)</label><br>
            <input type="password" name="passwordConfirmation" value=""/><br/>

            <label>Adresse email</label><br>
            <input type="email" name="email" value="{{ account.email }} "/><br/>

            <input type="hidden" name="token" id="token" value="{{ session.get('token') }}" />
            <input type="submit" value="Modifier"/>
        </p>
    </form>
    {% else %}
    <p>Vous n'avez pas l'autorisation d'acceder a cette page</p>
    {% endif %}
    {% if passwordDontMatch %}
    <p>Les mots de passes ne correspondent pas</p>
    {% endif %}
</section>
{% endblock %}
