{% extends "layout.html.twig" %}
{% block body %}
{% if session.get('id') %}
{% if post.user.id == session.get('id') or session.isAdmin() %}

        <a href="/blog/editPost/{{ id }}" class="button alt">Modifier</a>
    <button src="/blog/deletePost/{{ id }}" class="button alt delete" value="{{ session.get('token') }}">Supprimer</button>

{% endif %}
{% endif %}
    <article class="box post">

    <h2>
        {{ post.title }}
        <h4>
            par : {{ post.user.nickname }}
        </h4>
        <p>
            Le : {{ post.creationDate|date("d/m/Y à H\\hi") }}<br />
            {% if post.modificationDate is not empty %}
            Dernière modification le : {{ post.modificationDate|date("d/m/Y à H\\hi") }}
            {% endif %}
        </p>
    </h2>

{{ post.content }}

    </article>
    {% if session.get('id') %}
<form action="/blog/post/{{ id }}" method="post">
    <p>
        <label>Ecrire un commentaire :</label><br>
        <textarea name="comment" rows="3" cols="50"></textarea><br/>

        <input type="submit" value="envoyer"/>
    </p>
</form>
        {% else %}
        <strong>Vous devez être connecté pour pouvoir écrire un commentaire</strong>
        <h4>
            <a href="/login">Connexion</a>
            <a href="/registration">Inscription</a>
        </h4>
    {% endif %}
{% for com in coms %}
{% if session.get('id') %}
{% if com.user.id == session.get('id') or session.isAdmin() %}
    <a href="/blog/editComment/{{ com.id }}" class="button alt">Modifier</a>
    <button src="/blog/deleteComment/{{ com.id }}" class="button alt delete" value="{{ session.get('token') }}">Supprimer</button>

{% endif %}
{% endif %}
    <article class="box post">
        <h4>{{ com.user.nickname }}</h4> {{ com.comment }}
    </article>
{% endfor %}
{% endblock %}
